body{

font-family: Arial;
margin:0;
background:#121212;
color:white;

}

header{

display:flex;
justify-content:space-between;
align-items:center;
padding:20px 40px;
background:#0d0d0d;

}

nav a{

color:white;
margin-left:20px;
text-decoration:none;

}

.logo{

height:60px;

}

.hero{

text-align:center;
padding:100px 20px;
background:#1a1a1a;

}

.button{

display:inline-block;
padding:15px 25px;
background:#4CAF50;
color:white;
text-decoration:none;
margin-top:20px;

}

.section{

max-width:900px;
margin:auto;
padding:80px 20px;

}

footer{

text-align:center;
padding:40px;
background:black;

}
